body {
  background-color: rgb(236, 238, 241);
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
  font-weight: normal;
  min-height: 100vh;
}

h1 {
  color: #4c4c4c;
  font-weight: 700;
  line-height: 1.1;
  font-size: 24px;
}

h3 {
  color: #4c4c4c;
  font-weight: normal;
  font-size: 14px;
}
header {
  margin-top: 18px;
}
header.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

header.sub-logos-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

header.form-header-content {
  text-align: center;
  padding-bottom: 20px;
  display: block;
  position: relative;
  top: 10px;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-column {
  margin: 5px 0px 10px 5px;
}

.have-account {
  font-weight: normal;
  color: #505050;
  font-size: 12px;
  line-height: 1;
}

.account-recovery-url {
  font-weight: normal;
  color: #0077c5;
  font-size: 13px;
  line-height: 1;
  text-decoration: none;
}

.btn-signin {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  padding: 0 20px;
  height: 35px;
  width: 100px;
  color: white;
  cursor: pointer;
  font-weight: normal;
  margin-right: 30px;
  margin-top: -5px;
}

.img-locked {
  height: 0.9em;
  width: 0.8em;
  margin-top: 0px;
  margin-right: 5px;
  vertical-align: text-top;
  display: inline-block;
  background-image: url(../media/locked.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container,
.sub-logo-container {
  list-style: none;
  list-style-image: none;
}

.logo {
  width: 118px;
  height: 35px;
  display: block;
  background-position: 0 0;
  background-image: url("../media/logos.png");
  text-decoration: none;
}
.sub-logo-list {
  padding-inline-start: 0px;
}
ul.sub-logo-list li {
  display: inline-block;
}
.logo1-1 {
  width: 23px;
  height: 23px;
  display: block;
  background-position: -254px 26px;
  background-image: url("../media/logos.png");
  text-decoration: none;
}
.logo1-2 {
  width: 40px;
  height: 22px;
  display: block;
  background-position: 282px 26px;
  background-image: url("../media/logos.png");
  text-decoration: none;
}
.logo2-1 {
  width: 23px;
  height: 23px;
  display: block;
  background-position: -115px 26px;
  background-image: url("../media/logos.png");
  text-decoration: none;
}
.logo2-2 {
  width: 100px;
  height: 22px;
  display: block;
  background-position: -142px 26px;
  background-image: url("../media/logos.png");
  text-decoration: none;
}
.logo3-1 {
  width: 23px;
  height: 23px;
  display: block;
  background-position: 0px 26px;
  background-image: url("../media/logos.png");
  text-decoration: none;
}
.logo3-2 {
  width: 76px;
  height: 23px;
  display: block;
  background-position: -25px 26px;
  background-image: url("../media/logos.png");
  text-decoration: none;
}

section.main-form-box {
  margin-top: -4px;
}

.form-content {
  width: 380px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
  border: 1px solid #cacaca;
}

a.learn-more {
  color: #0077c5;
  font-size: 12px;
  text-decoration: none;
}

.label {
  text-align: left;
  display: block;
  font-weight: 700;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 6px;
  margin-left: 15px;
  margin-right: 15px;
}

.input-set {
  text-align: left;
  border: 0px;
  position: relative;
}

.recommended-text {
  font-weight: normal;
}

.form-note {
  font-family: inherit;
  font-weight: 700;
  display: block;
  min-height: 20px;
  padding: 5px 0;
  font-size: 10px;
  color: #444;
  margin-left: 15px;
}

.input-field {
  display: block;
  position: relative;
  height: 30px;
  width: 305px;
  min-width: 160px;
  padding-left: 8px;
  padding-right: 6px;
  border: 1px solid #d8d8d8;
  color: #000000;
  outline: none;
  font-size: 1.2em;
  border-radius: 3px;
  line-height: 1.3em;
  margin-right: 15px;
  margin-left: 15px;
}

.password-lock {
  background: url(../media/unlocked.png) no-repeat 0% 50% / 21px 21px;
  width: 33px;
  height: 32px;
  display: block;
  position: absolute;
  right: 24px;
  top: 39px;
  bottom: 1px;
}

.create-account {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  height: 35px;
  color: white;
  cursor: pointer;
  font-weight: normal;
  width: 320px;
  height: 44px;
  font-size: 16px;
  margin: 20px 20px 0px 20px;
  position: relative;
}
.create-account span {
  background: url(../media/locked.png) no-repeat 0% 50% /13px 16px;
  position: absolute;
  right: 214px;
  top: 9px;
  bottom: 1px;
  width: 20px;
  height: 21px;
}

button#PrivacyBtn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  background-color: #6b6c72;
  border-radius: 3px;
  z-index: 100;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 5%;
  vertical-align: middle;
  color: #fff;
  padding: 12px 14px;
  border: 0;
}

.modal-header {
  margin: 10px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #393a3d;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-left: 11%;
  width: 80%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px 35px;
  width: 750px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  z-index: 99999;
  box-shadow: 0px 0px 20px #babec5;
  box-sizing: border-box;
}

.modal-sub-header {
  color: #393a3d;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 2px solid #d4d7dc;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-info {
  display: block;
  margin: 30px auto 30px auto;
  font-size: 12px;
  font-style: italic;
  color: #646464;
  line-height: 1.5rem;
}
.form-info a {
  text-decoration: none;
  color: #0077c5;
}
.form-footer {
  text-align: center;
  font-size: 10px;
  color: #8d9096;
  background-color: #eceef1;
  padding: 20px 5px 20px 5px;
}
.form-footer a {
  text-decoration: none;
  color: #0077c5;
}
footer {
  /*later position will be solved */
  text-align: center;
  color: #303030;
  font-size: 13px;
  padding: 20px 5px 20px 5px;
}
footer a {
  text-decoration: none;
}
.footer-ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 10px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  padding: 0px;
}
footer ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
.footer-copyright {
  margin-top: 3px;
}
.save-button {
  box-shadow: none;
  display: block;
  border-radius: 4px;
  border-width: 1px;
  color: #fff;
  background-color: #0077c5;
  position: relative;
  width: 120px;
  height: 36px;
  font-size: 1rem;
}
.dismiss-button {
  box-shadow: none;
  display: block;
  border-radius: 4px;
  border-width: 1px;
  color: #0077c5;
  background-color: #eee;
  position: relative;
  width: 120px;
  height: 32px;
  font-size: 1rem;
}

.third-party {
  color: #bababa;
  font-size: 18px;
  line-height: 1.5;
}
.modal-description {
  margin: 0px 10px 30px 28px;
  font-size: 14px;
  max-width: 600px;
  color: #393a3d;
  line-height: 1.5;
  text-align: left;
}

/* The container */
.modal-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.modal-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #4f9f41;
  border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.modal-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.modal-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.modal-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
