body{
    background-color: rgb(236,238,241);
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 {
  color: #4C4C4C;
  font-weight: 700;
  line-height: 1.1;
  font-size: 24px;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  color: #4C4C4C;
  font-weight: normal;
  font-size: 14px;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
}

header.sub-logos-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
}

header.form-header-content {
    text-align: center;
    padding-bottom: 20px;
    display: block;
    position: relative;
    top: 10px;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-column {
    margin: 10px 5px 10px 5px;
}

.have-account {
    font-weight: normal;
    color: #505050;
    font-size: 12px;
    line-height: 1;
}

.account-recovery-url {
    font-weight: normal;
    color: #0077C5;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
}

.btn-signin {
  background: #0077C5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  padding: 0 20px;
  height: 35px;
  width:100px;
  color: white;
  cursor: pointer;
  font-weight: normal;
  margin-right: 30px;
  margin-top:-5px;
}

.img-locked {
  height: 0.9em;
  width: 0.8em;
  margin-top: 0px;
  margin-right: 5px;
  vertical-align: text-top;
  display: inline-block;
  background-image: url(../media/locked.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-container,
.sub-logo-container{
    list-style: none;
    list-style-image: none;
}

.logo{
    width: 118px;
    height: 35px;
    display:block;
    background-position: 0 0;
    background-image: url("../media/logos.png");
    text-decoration: none;
}
ul.sub-logo-list li {
    display:inline-block;
  }
.logo1-1{
    width: 23px;
    height: 23px;
    display:block;
    background-position: -254px 26px;
    background-image: url("../media/logos.png");
    text-decoration: none;
}
.logo1-2{
    width: 40px;
    height:22px;
    display:block;
    background-position: 282px 26px;
    background-image: url("../media/logos.png");
    text-decoration: none;
}
.logo2-1{
    width: 23px;
    height: 23px;
    display:block;
    background-position: -115px 26px;
    background-image: url("../media/logos.png");
    text-decoration: none;
}
.logo2-2{
    width: 100px;
    height: 22px;
    display:block;
    background-position: -142px 26px;
    background-image: url("../media/logos.png");
    text-decoration: none;
}
.logo3-1{
    width: 23px;
    height: 23px;
    display:block;
    background-position: 0px 26px;
    background-image: url("../media/logos.png");
    text-decoration: none;
}
.logo3-2{
    width: 76px;
    height: 23px;
    display:block;
    background-position: -25px 26px;
    background-image: url("../media/logos.png");
    text-decoration: none;
}

section.main-form-box {
    margin-top: -4px;
}

.form-content{
    width:380px;
    background-color: #ffffff;
    margin:auto;
    text-align: center;
    border: 1px solid #cacaca;
}

a.learn-more {
    color: #0077C5;
    font-size: 12px;
    text-decoration: none;
}

.label {
    text-align: left;
    display: block;
    font-weight: 700;
    color: #404040;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 6px;
    margin-left: 15px;
    margin-right: 15px;
}

.input-set{
    text-align: left;
    border:0px;
    position: relative;
}
.button-set{
    border:0px;
}
.button-set button{
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    padding: 0 20px;
    height: 35px;
    width:100px;
    color: white;
    cursor: pointer;
    font-weight: normal;
    margin-right: 30px;
    margin-top:-5px;
}

.recommended-text {
  font-weight: normal;
}

.form-note {
  font-family: inherit;
  font-weight: 700;
  display: block;
  min-height: 20px;
  padding: 5px 0;
  font-size: 10px;
  color: #444;
  margin-left: 15px;
}

.input-field {
    display: block;
    position: relative;
    height: 30px;
    width: 305px;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    border: 1px solid #d8d8d8;
    color: #000000;
    outline: none;
    font-size: 1.2em;
    border-radius: 3px;
    line-height: 1.3em;
    margin-right: 15px;
    margin-left: 15px;
}

.password-lock {
  background: url(../media/unlocked.png) no-repeat 0% 50% / 21px 21px;
  width: 33px;
  height: 32px;
  display: block;
  position: absolute;
  right: 24px;
  top: 39px;
  bottom: 1px;
}
